# Spring Boot REST API Base URL
NEXT_PUBLIC_API_URL=http://localhost:8080/api/v1

# Node Environment
NODE_ENV=development
PORT=3000

# PostgreSQL (for Docker Compose)
DB_NAME=rora_db
DB_USERNAME=postgres
DB_PASSWORD=password
DB_PORT=5432
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION_MS=86400000
